<!DOCTYPE html>
<html>

<head>
	<!-- Download Raleway -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

	<!-- Responsive webpage -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Download Bootstrap and dependencies -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143760368-2"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143760368-2');
  </script>
</head>

<style>
	.title {
		padding-top: 3%;
		padding-bottom: 3%;
		text-align: center;
		font-family: "Hey November";
		font-size: 20vmin;
	}

	.rules-container {
		margin: auto;
		max-width: 750px;
		padding-bottom: 3%;
	}

	.rules-heading {
		font-family: "Raleway Black";
		text-align: center;
	}

	.rules-content {
		font-family: "Raleway Semibold";
		text-align: justify;
	}

	.page-foot {
  		background-color: #F26648;
  		padding-top: 4px;
  		padding-bottom: 4px;
  		text-align: center;
  	}

	.last-link {
  		font-family: Raleway;
  		font-weight: 900;
  		letter-spacing: 4px;
  		color: white;
  		font-size: 200%;
  	}
</style>

<body>
<h1 class="title">RULES AND REGULATIONS</h1>
	
<div class="rules-container" style="padding-right: 5vw;">
	<h2 class="rules-heading">Eligibility Criteria</h2>
	<ul>
		<li class="rules-content">Only NUS undergraduate students shall be eligible to participate in CREATION 2020.</li>
	</ul>
	<br>

	<h2 class="rules-heading">Registration</h2>
	<ul>
		<li class="rules-content">To register for CREATION 2020, participant must sign up on this website.</li>
		<li class="rules-content">Registration for the competition will open on 20th January 2020 and will close on 21st February 2020 18:00.</li>
		<li class="rules-content">Participation in CREATION 2020 is FREE of charge.</li>
	</ul>
	<br>

	<h2 class="rules-heading">Duration</h2>
	<ul>
		<li class="rules-content">The competition will take place from 20th January 2020 to 24th February 2020.</li>
		<li class="rules-content">All dates and times referred to in these rules, the website and in any documents relating to or in connection with the competition, shall be in the Singapore time zone (GMT +8).</li>
		<li class="rules-content">CREATION committee reserves the right to alter the duration of individual rounds of the competition at any time, without providing any justification. Such amendments will be communicated to the participants prior to such change.</li>
	</ul>
	<br>

	<h2 class="rules-heading">Competition</h2>
	<ul>
		<li class="rules-content">Participants must sign up through CREATION 2020 website by 21st February 2020 18:00.</li>
		<li class="rules-content">Only registered participants are allowed to submit an entry.</li>
		<li class="rules-content">Each participant can choose to design for more than one challenge statement.</li>
		<li class="rules-content">Each participant can submit only ONE design per challenge statement, of which will be judged by a panel of judges during the closing ceremony on 24th February 2020.</li>
		<li class="rules-content">All entries should fulfill the requirements specified in their respective challenge statement.</li>
		<li class="rules-content">Participants are to pitch their final artwork to the panel of judges during the closing ceremony on 24th February 2020.</li>
		<li class="rules-content">Participants shall be able to attend the closing ceremony on 24th February 2020. Participants who are unable to attend the closing ceremony for the pitching session will be heavily penalized during the assessment or may face disqualification as well.</li>
		<li class="rules-content">Deadline of submission of artwork is 21st February 2020. Entries after the given deadline will not be accepted. CREATION committee reserves the right to reject a submission that is submitted past the stipulated deadline.</li>
	</ul>
	<br>

	<h2 class="rules-heading">Selection Process</h2>
	<ul>
		<li class="rules-content">Assessment criteria will vary among challenge statements.</li>
		<li class="rules-content">The evaluation judging criteria for eligible submission are as follows:</li>
		<ol>
			<li class="rules-content">2020 NUSSU Welfare Diary
        <ul class="rules-content">
          <li>Technical excellence</li>
          <li>Creative merit</li>
          <li>Suitability for end use</li>
          <li>Public vote on 22 – 23 February 2020</li>
        </ul>
      </li>
			<li class="rules-content">Key Visual for NUS Commencement Class Giving 2021
        <ul class="rules-content">
          <li>Technical excellence</li>
          <li>Creative merit</li>
          <li>Suitability for end use</li>
          <li>Relevance to theme</li>
      </li>
			</ul>
			<li class="rules-content">Mascot for NUS IT Security Awareness Campaign
			<ul class="rules-content">
				<li>Technical excellence</li>
				<li>Creative merit</li>
				<li>Suitability for end use</li>
				<li>Relevance to theme</li>
			</ul>
      </li>
			<li class="rules-content">Newcomer Award</li>
			<p class="rules-content">Only participants who have participated in NUSSU commIT Cyberia Camp and/or any of NUSSU commIT Adobe Photoshop Workshop and/or any of NUSSU commIT Adobe Illustrator Workshop in the past two years will be considered for CREATION 2020 Newcomer Award.</p>
			<p class="rules-content">ONE Newcomer Award will be given to ONE participant fulfilling the above criteria whose artwork is the judges’ favorite design among all challenge statements and is not a winning entry for any of the challenge statements.</p>
		</ol>
		<li class="rules-content">All entries should fulfil the requirements specified in their respective challenge statement. Participants artwork will not be accepted if the challenge’s requirements are not met.</li>
		<li class="rules-content">The decision of the judges will be final and binding.</li>
	</ul>
	<br>

	<h2 class="rules-heading">Intellectual Property</h2>
	<ul>
		<li class="rules-content">All artwork submitted for CREATION 2020 competition shall become the property of the partners for the respective challenge statements.</li>
		<li class="rules-content">Winning posters may be modified and used by partners for their personal usage.</li>
	</ul>
	<br>
	

	<h2 class="rules-heading">General Rules</h2>
	<ul>
		<li class="rules-content">CREATION committee reserves the right to amend these rules at any time. CREATION committee may also create rules, which will apply to a specific competition only. Participants are responsible for checking the relevant competition page for any updates to the rules. A copy of the latest version of the rules is made available at the website. By continuing to participate in CREATION 2020, participants signify their agreement to any updates to the rules. </li>
		<li class="rules-content">CREATION committee reserves the right to disqualify any participant, if:</li>
		<ol>
			<li class="rules-content">participant is found to have violated the rules; or</li>
			<li class="rules-content">participant cheats or tampers with the operation of the CREATION 2020; or</li>
			<li class="rules-content">copyright or obscene material is detected in their final design. All artwork should be an individual effort; or</li>
			<li class="rules-content">participant engages in conduct that is unlawful, offensive, or otherwise leads the CREATION committee to conclude that public association with the participant could cause controversy or generate any negative publicity for CREATION 2020 or its partners.</li>
		</ol>
		<li class="rules-content">All prizes are non-transferrable and not exchangeable for cash.</li>
	</ol>
	<br>
</div>

<div class="page-foot"><%= link_to "ANY QUESTIONS?", new_message_path, class: 'last-link' %></div>
</body>
</html>
