<script>
    $(document).ready(function(){
        $(".click .copy").click(function(event){
            // var $tempElement = $("<input>");
            // $("body").append($tempElement);
            // $tempElement.val($(this).closest(".click").find("span").text()).select();
            document.getElementById("to-copy").select();
            document.execCommand("Copy");
            // $tempElement.remove();
        });
    });
</script>

<p id="notice"><%= notice %></p>

<h1>Mailing Lists</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>
        <div class="click">
          <button class="copy">Copy all emails</button>
          <textarea id="to-copy" style='display:block; width:0; height:0; opacity: 0;'><%= @email %></textarea>
        </div>
      </th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @mailing_lists.each do |mailing_list| %>
      <tr>
        <td><%= mailing_list.email %></td>
        <td><%= link_to 'Delete Subscriber', mailing_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

