<p>
   This is to confirm your submission to Creation 2020 for:
</p>

<p>
   Challenge Statement: <%= @title %>
</p>

<p>
   Submission file: <%= @upload %>
</p>

<p>
   Submission time: <%= @update %>
</p>